/************************************************************
 *                                                          *
 * Add your custom CSS styles here. Just import this file
 * in your app, and it will be bundled automatically. ✨    *
 *                                                          *
 ************************************************************/

.main {
  padding: 100px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  font-family: "sans-serif", Arial, Helvetica, sans-serif;
}
